body {
    background: url("image/snow.gif");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
/*    background-repeat: no-repeat;*/
    min-width: 1070px;
    min-height: 695px;
}

body {
    padding: 0;
    margin: 0;
}

#sidelines {
    background-color: #514e4e;
    height: 100%;
    width: 300px;
    position: absolute;        
    min-width: 300px;
    min-height: 695px;
    max-height: 695px;
}

#enemy {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-style: inset;
    border-width: 7px;
    border-color: aqua;
    height: 47%;
}

#ship {
    margin-top 20px;
    width: 280px; 
}

#enemyLeft {
    width: 230px;
    height: 60px;
    background-color: yellow;
    margin: 0px auto;
    font-family: cursive;
    font-size: 20px;
    line-height: 2.8;
}

#us{
    text-align: center;
    padding-bottom: 10px;
    border-style: inset;
    border-width: 7px;
    border-color: #b213aa;
    height: 53%;

}

#point {
    width: 160px;
    height: 60px;
    background-color: #ce7604;
    margin: 20px auto;
    font-family: cursive;
    font-size: 20px;
    line-height: 2.8;
    border-radius: 20px;
}

#time {
    width: 200px;
    height: 50px;
    background-color: black;
    margin: 20px auto;
    font-family: cursive;
    font-size: 20px;
    line-height: 2.5;
    border-radius: 20px;
    color: aliceblue;
}

#live {
    width: 250px;
    height: 50px;
    margin: auto;
    background: radial-gradient(#7634bc, #360966);
}

#buttons {
    width: 280px;
    height: 66px;
    margin: 20px auto 40px;
    font-family: cursive;
    position: relative;
}

#main {
    width: 75px;
    height: 40px;
    position: absolute;
    left: 20px;
    line-height: 2.3;
    border-radius: 20px;
    background-color: #13a55f;
    box-shadow: 0px 2px black;
    cursor: pointer;
}

#main:hover {
    background-color: white;
}

#main:active {
    top: 2px;
    box-shadow: 0px 0px black;
}

#StartReset{
    width: 155px;
    height: 40px;
    position: absolute;
    left: 120px;
    line-height: 2.3;
    border-radius: 20px;
    background-color: #d31313;
    box-shadow: 0px 2px black;
    cursor: pointer;
    color: white;
}

#StartReset:hover {
    background-color: #2c62d6;
    color: black;
}

#StartReset:active {
    top: 2px;
    box-shadow: 0px 0px black;
}

#instruction {
    width: 40px;
    height: 40px;
    background-color: yellow;
    position: absolute;
    top: 60px;
    left: 110px;
    border-radius: 20px;
    box-shadow: 0px 2px black;
    cursor: pointer;
/*    line-height: ;*/
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
}

#instruction:active {
    top:62px;
    box-shadow: 0px 0px black;
}

/*
#sound {
    background-color: yellow;
    position: absolute;
    top: 50px;
    left: 170px;
    box-shadow: 3px 3px black;
    cursor: pointer;
}

#sound:active {
    top:52px;
    box-shadow: 0px 0px black;
}
*/

/*------------------------------------------------*/
#gameContent {
/*    background-color: red;*/
    width: 100%;
    height: 100%;
}


#win {
    width: 600px;
    height: 200px;
    background: linear-gradient(#cd09f4, #6a107c);
    position: absolute;
    text-align: center;
    font-family: cursive;
    border-radius: 30px;
    top: 200px;
    left: 550px;
    font-size: 40px;
    line-height: 2;
    color: aliceblue;
    display: none;
}

#lose{
    width: 600px;
    height: 400px;
    background: linear-gradient(#054656, #0882a0);
    position: absolute;
    text-align: center;
    font-family: cursive;
    border-radius: 30px;
    top: 150px;
    left: 550px;
    font-size: 40px;
    line-height: 2;
    color: aliceblue;
    padding: 20px;
    display: none;
}

#animation {
    background-color: black;
    position: absolute;
    left: 300px;
    width: 1065px;
    height: 695px;
/*    display: none;*/
}

#rock1 {
    position:absolute;
    top:637px;
}

#rock2 {
    position:absolute;
    top:637px;
    right: 0px;
}

#wall1 {
    position:absolute;
    top: 590px;
    left: 90px; 
}

#wall2 {
    position:absolute;
    top: 100px;
    left: 780px; 
}

#tank{
    position:absolute;
    top:645px;
    left: 90px;
}

.life{
    width: 50px;
    margin: 2px 5px 0px 5px;
}

.bul {
    display: none;
}
