body {
    background: url("image/snow.gif");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#sidelines {
    background-color: #514e4e;
    height: 100%;
    width: 300px;
    position: absolute;        
}

#enemy {
    text-align: center;
}

#ship {
    margin-top: 20px;
}

#enemyLeft {
/*    width: 200px;*/
    height: 60px;
}