body {
    background: url("image/snow.gif");
    background-size: cover;
    height: 150%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1000px;
    min-height: 1042px;
}


#navbarTogglerDemo01{
    position:absolute;
    left: 120px;
    top: 8px;
}

.navbar-toggler:hover{
    background-color: aqua;
}

.nav-link{
    font-family: cursive;
    color: black;
}

.nav-link:hover {
    background-color: #ffea0e;
/*    text-transform: uppercase;*/
}

#raw {
    text-align: center;
    position: absolute;
    top: 8px;
    right: 10px;
}

#raw:hover {
    background-color: #e59412;
}

#middle{
    position: relative;
}


/*--SLIDE SHOW------------------------------------------------------------------------------------------------------------------------*/
#slideshow {
/*    background-color:aqua;*/
    position:relative;
}

/* Caption text */
.text {
  color:black;
  font-size: 40px;
  font-family: cursive;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0cd313;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
  background-color: #ff3f22;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6.0s;
  animation-name: fade;
  animation-duration: 6.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

#intro{
    background-color: #7f2be4;
    width: 1000px;
    height: 330px;
    text-align: center;
    margin:0 auto;
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 4px #3d1075;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: rgba(208, 232, 27, .7);;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin: 0px auto;
}

#foot0 {
    position: fixed;
}

#foot1 {
    position:fixed;
    right: 30px;   
}

#foot2 {
    position:fixed;
    right: 10px;  
    margin-top: 5px;
}

/*-Contact-----------------------------------------------------------------------------------------------------------------------------------------*/
#email {
    width: 800px;
    height: 800px;
    background: linear-gradient(#45e848, #168e16, #0ac90d);
    padding: 40;
    margin: 50 auto;
    border-radius: 20px;
    font-family: cursive;
}

input {
    border-radius: 10px;
    padding-right: 6px;
}

.but{
    border-radius: 30px;
}

#second {
    float: left;
    text-align: center
}
.con {
    position: relative;
    margin: 20px 95px 30px 105px;
    float: left;
}

#outlook{
     right: 30px;
}

.expand {
     margin: 20px 150px 30px 130px;
}

/*PROJECT LIST----------------------------------------------------------------------------------------------------------------------------*/
#works{
    width: 1000px;
    height: 800px;
    background: radial-gradient(#0a1187, #4c43cc);
    margin: 40px auto 0px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    
}

#back {
    width: 40;
    height: 40;
    border-radius: 20px;
    background-color: #0ac90d;
    text-align: center;
    line-height: 1.3;
    font-size: 30px;
    box-shadow: 0px 2px black;
/*    margin-top: 0px;*/
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    left: 900px;
    display: none;
}

#back:hover {
    background-color: #def209;
}

#back:active {
    box-shadow: 0px 0px black;
    top: 2px;
}

.detail {
    position: relative;
    text-align: center;
}

.textDes {
    font-size: 25px;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
}

.link {
    color: #ead515;
}

.link:hover{
    color: #ead515;
}

#project1 {
    display: none;
}

#project2 {
    display: none;
}

#project3 {
    display: none;
}

#project4 {
    display: none;
}

#project5 {
    display: none;
}

#all {
    width: 940px;
    height: 740px;
    position: relative;
    background-color: #9b0c0c;
    display: block;
}

#all h1 {
    font-family: cursive;
    color: white;
    text-align: center;
    top: 20px;
    position: relative;
}

.pic{
    position: absolute;
    margin: 40px;
    cursor: pointer;
    box-shadow: 3px 3px black;
}

.pic:hover {
    box-shadow: 4px 4px 4px white;
}

.pic:active {
    box-shadow: 0px 0px black;
}

#all1 {
    top: 50px;
}

#all1:active {
    top: 52px;
}

#all2 {
    top: 240px;
}

#all2:active {
    top: 242px;
}

#all3 {
    top: 50px;
    right: 10px;
}

#all3:active {
    top: 52px;
    right: 10px;
}


#all4 {
    top: 242px;
    left: 345px;
}

#all4:active {
    top: 244px;
}

#all5 {
    top: 410px;
}

#all5:active {
    top: 412px;
}
