body {
    background: url("image/snow.gif");
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


#navbarTogglerDemo01{
    position:absolute;
    left: 120px;
}

.navbar-toggler:hover{
    background-color: aqua;
}

.nav-link{
    font-family: cursive;
    color: black;
}

.nav-link:hover {
    background-color: #ffea0e;
/*    text-transform: uppercase;*/
}


#middle{
    position: relative;
}


/*--SLIDE SHOW------------------------------------------------------------------------------------------------------------------------*/
#slideshow {
/*    background-color:aqua;*/
    position:relative;
}

/* Caption text */
.text {
  color:black;
  font-size: 40px;
  font-family: cursive;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0cd313;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
  background-color: #ff3f22;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6.0s;
  animation-name: fade;
  animation-duration: 6.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/

#intro{
    background-color: #7f2be4;
    width: 1000px;
    height: 330px;
    text-align: center;
    margin:0 auto;
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 4px #3d1075;
}

footer{
    background-color: rgba(208, 232, 27, .7);;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin: 0px auto;
}

#foot0 {
    position: fixed;
}

#foot1 {
    position:fixed;
    right: 30px;   
}

#foot2 {
    position:fixed;
    right: 10px;  
    margin-top: 5px;
}


#email {
    width: 800px;
    height: 800px;
    background: linear-gradient(#45e848, #168e16, #0ac90d);
    padding: 40;
    margin: 50 auto;
    border-radius: 20px;
    font-family: cursive;
}

input {
    border-radius: 10px;
    padding-right: 6px;
}

.but{
    border-radius: 30px;
}

#second {
    float: left;
    text-align: center
}
.con {
    position: relative;
    margin: 20px 95px 30px 105px;
    float: left;
}

#outlook{
     right: 30px;
}

.expand {
     margin: 20px 150px 30px 130px;
}

